# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# Java / Maven
backend/target/
backend/node_modules/
backend/.classpath
backend/.project
backend/.settings/

# Node / Vite
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/.env*

# IDE ve editör dosyaları
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
